body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.85rem;
}
.text-en-or{
  color:  #dda15e;
}
.texte-en-gris{
  color: #90a4ae;
}
.background-gris {
  background-color: #efebe9;
}
.bg-jaune-marron{
  background-color: #dda15e;
}
.footer-moy-car{
  font-size: 0.70rem;
}
.footer-pt-car{
  font-size: 0.60rem;
}